<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yinhetianze.business.settlement.mapper.SettlementInfoMapper">
  <resultMap id="BaseResultMap" type="com.yinhetianze.pojo.order.SettlementPojo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="settlement_id" jdbcType="INTEGER" property="settlementId" />
    <result column="settlement_no" jdbcType="VARCHAR" property="settlementNo" />
    <result column="shop_id" jdbcType="INTEGER" property="shopId" />
    <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="total_cost" jdbcType="DECIMAL" property="totalCost" />
    <result column="finalt_total_cost" jdbcType="DECIMAL" property="finaltTotalCost" />
    <result column="rake_cost" jdbcType="DECIMAL" property="rakeCost" />
    <result column="reviewer" jdbcType="VARCHAR" property="reviewer" />
    <result column="reviewer_time" jdbcType="TIMESTAMP" property="reviewerTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="paymentInfo" jdbcType="VARCHAR" property="paymentinfo" />
    <result column="payment_time" jdbcType="TIMESTAMP" property="paymentTime" />
    <result column="orders_ids" jdbcType="LONGVARCHAR" property="ordersIds" />
    <result column="refuse_reason" jdbcType="VARCHAR" property="refuseReason" />
    <result column="bank_card_name" jdbcType="VARCHAR" property="bankCardName" />
    <result column="bank_card_no" jdbcType="VARCHAR" property="bankCardNo" />
    <result column="bank_user_name" jdbcType="VARCHAR" property="bankUserName" />
      <result column="tax_amount" jdbcType="DECIMAL" property="taxAmount" />
  </resultMap>

  <select id="findSettlements" parameterType="com.yinhetianze.business.settlement.model.SettlementModel" resultType="com.yinhetianze.pojo.order.SettlementPojo">
      SELECT settlement_id settlementId,settlement_no settlementNo,shop_id shopId,shop_name shopName,customer_id customerId,total_cost totalCost,finalt_total_cost finaltTotalCost,rake_cost rakeCost,
      orders_ids ordersIds,reviewer,DATE_FORMAT(reviewer_time,'%Y-%m-%d %H:%i:%s') reviewerTime,`status`,refuse_reason refuseReason,DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') createTime,DATE_FORMAT(payment_time,'%Y-%m-%d %H:%i:%s') paymentTime FROM busi_order_settlement
      WHERE 1=1
    <if test="shopId != null">
      AND shop_id = #{shopId}
    </if>
    <if test="settlementNo != null and settlementNo!=''">
      AND settlement_no = #{settlementNo}
    </if>
    <if test="status != null">
      AND status = #{status}
    </if>
    <if test="beginTime!=null">
      AND DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') <![CDATA[>=]]> #{beginTime}
    </if>
    <if test="endTime!=null">
      AND DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') <![CDATA[<=]]> #{endTime}
    </if>
    ORDER BY create_time DESC
  </select>
  <select id="selectSettlementsList" parameterType="com.yinhetianze.pojo.order.SettlementPojo" resultType="com.yinhetianze.pojo.order.SettlementPojo">
        SELECT
         settlement_id "settlementId",
         settlement_no "settlementNo",
         shop_id "shopId",
         shop_name "shopName",
         customer_id "customerId",
         total_cost "totalCost",
         finalt_total_cost  "finaltTotalCost",
         rake_cost "rakeCost",
         orders_ids "ordersIds",
         reviewer "reviewer",
         DATE_FORMAT(reviewer_time,'%Y-%m-%d %H:%i:%s') "reviewerTime",
         status,
         refuse_reason "refuseReason",
         DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') "createTime",
         paymentInfo,
         DATE_FORMAT(payment_time,'%Y-%m-%d %H:%i:%s') "paymentTime",
         bank_card_name "bankCardName",
         bank_card_no "bankCardNo",
         bank_user_name "bankUserName",
         tax_amount "taxAmount"
        FROM
         `busi_order_settlement`
        WHERE
         shop_id=#{shopId}
         <if test="settlementNo!=null">
           AND  settlement_no LIKE '%${settlementNo}%'
         </if>
        ORDER BY
         create_time DESC
  </select>
</mapper>