<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yinhetianze.business.voucher.mapper.busi.VoucherBusiMapper">
  <resultMap id="BaseResultMap" type="com.yinhetianze.pojo.product.VoucherlPojo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="cust_id" jdbcType="INTEGER" property="custId" />
    <result column="prod_id" jdbcType="INTEGER" property="prodId" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="del_flag" jdbcType="SMALLINT" property="delFlag" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <update id="updateStatus" parameterType="map">
    UPDATE busi_voucher SET prod_id=#{prodId},status=#{status} WHERE id=#{id} AND status=0;
  </update>
</mapper>