<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yinhetianze.business.customer.mapper.busi.CustomerWechatBusiMapper">
  <resultMap id="BaseResultMap" type="com.yinhetianze.pojo.customer.BusiCustomerWechatPojo">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="del_flag" jdbcType="SMALLINT" property="delFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="customer_code" jdbcType="VARCHAR" property="customerCode" />
  </resultMap>

  <update id="cancleBind" parameterType="com.yinhetianze.pojo.customer.BusiCustomerWechatPojo">
     update busi_customer_wechat
     set
     open_id = null,
     open_id_his = #{openIdHis},
     del_flag = 1,
     update_time = now(),
     id_type = null,
     id_type_his = #{idTypeHis}
     where id = #{id}
  </update>
</mapper>