<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yinhetianze.business.customer.mapper.busi.CustomerBusiMapper">
    <update id="updatePartner" parameterType="com.yinhetianze.pojo.customer.BusiCustomerPojo">
        update busi_customer_recommend_relation
        set partner_id=#{gameId}
        where relation_code like '${gameId}#%'
        and partner_id is null
    </update>

    <update id="setPartner" parameterType="com.yinhetianze.pojo.customer.BusiCustomerPojo">
        update busi_customer customer
        set customer.is_partner = 0
        where customer.id = #{id}  and customer.del_flag = 0
    </update>

    <update id="cancelPartner" parameterType="com.yinhetianze.pojo.customer.BusiCustomerPojo">
        update busi_customer_recommend_relation
        set partner_id = null
        where 1=1

        <choose>
            <when test="gameId != null and gameId != ''">
              and partner_id = #{gameId}
            </when>
            <otherwise>
                and partner_id = -1
            </otherwise>
        </choose>
        <!--
        relation_code like '${id}#%'
        -->
    </update>


    <update id="cancelMember" parameterType="com.yinhetianze.pojo.customer.BusiCustomerPojo">
        update busi_customer customer
        set
          customer.recommend_code = null,
          customer.person_qrcode=null,
          customer.qrcode_secret=null,
          customer.is_member = 1
        where 1=1 and customer.id = #{id}
    </update>

    <update id="updateRecommendReward" parameterType="com.yinhetianze.pojo.customer.BusiCustomerPojo">
        update busi_customer customer
        set customer.recommend_reward = 1
        where customer.id = #{id} and customer.recommend_reward = 0 and customer.del_flag = 0
    </update>

    <update id="updateGameId" parameterType="com.yinhetianze.pojo.customer.BusiCustomerPojo">
        update busi_customer customer
        set customer.game_id = #{gameId}
        where customer.id = #{id} and customer.game_id is null and customer.del_flag = 0
    </update>
 <!--
    <update id="changeMember" parameterType="java.lang.Integer">
        update busi_customer_recommend_relation
        set member_id = #{setId}
        where
        relation_code like '${customerId}#%'
        and member_id = #{customerId}
    </update>
 -->
</mapper>