<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yinhetianze.business.oneYuanOrder.mapper.OneYuanOrderInfoMapper">
  <resultMap id="BaseResultMap" type="com.yinhetianze.pojo.order.OneYuanOrderPojo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="outside_id" jdbcType="INTEGER" property="outsideId" />
  </resultMap>
</mapper>