<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yinhetianze.systemservice.thirdpart.mapper.info.RewardGameRecordInfoMapper">
  <resultMap id="BaseResultMap" type="com.yinhetianze.pojo.thirdpart.RewardGameRecordPojo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="game_id" jdbcType="INTEGER" property="gameId" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="game_amount" jdbcType="DECIMAL" property="gameAmount" />
    <result column="bankroll_serial" jdbcType="INTEGER" property="bankrollSerial" />
    <result column="game_task_id" jdbcType="INTEGER" property="gameTaskId" />
    <result column="game_type_id" jdbcType="INTEGER" property="gameTypeId" />
    <result column="judge" jdbcType="BIT" property="judge" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>