<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yinhetianze.business.customer.mapper.info.CustomerInfoMapper">
  <resultMap id="BaseResultMap" type="com.yinhetianze.pojo.customer.BusiCustomerPojo">
  <!--
    WARNING - @mbg.generated
  -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="sex" jdbcType="SMALLINT" property="sex" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="INTEGER" property="phone" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="photo_url" jdbcType="VARCHAR" property="photoUrl" />
    <result column="account_status" jdbcType="SMALLINT" property="accountStatus" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="login_password" jdbcType="VARCHAR" property="loginPassword" />
    <result column="pay_password" jdbcType="VARCHAR" property="payPassword" />
    <result column="cancel_status" jdbcType="SMALLINT" property="cancelStatus" />
    <result column="person_qrcode" jdbcType="VARCHAR" property="personQrcode" />
    <result column="del_flag" property="delFlag" jdbcType="SMALLINT" />
    <result column="game_id" jdbcType="INTEGER" property="gameId" />
</resultMap>


  <sql id="Base_Column_List" >
    id, account, nick_name, sex, email, phone, create_time, photo_url, account_status,
    id_card, login_password, pay_password, cancel_status, person_qrcode, del_flag
  </sql>

  <select id="selectList" parameterType="com.yinhetianze.business.customer.model.BusiCustomerPageModel" resultType="com.yinhetianze.business.customer.model.BusiCustomerOrderModel">
      select
          id,
          account,
          phone,
          create_time "createTime",
          account_status "accountStatus",
          real_name  "realName",
          nick_name "nickName",
          is_partner "isPartner",
          is_member "isMember",
          proportion  "proportion",
          recommend_code "recommendCode"
      from busi_customer
      where del_flag = 0
      <if test="phone != null and phone != ''">
        and phone like '%${phone}%'
      </if>

      <if test="id != null and id != ''">
        and id like '%${id}%'
      </if>
      order by create_time desc
  </select>
    <select id="getOneCustomer" parameterType="com.yinhetianze.pojo.customer.BusiCustomerPojo" resultType="map">
         SELECT
          s.`id` AS customerId,
          s.`nick_name` AS nickName,
          s.`sex` AS sex,
          s.is_member AS isMember,
          s.is_partner AS isPartner,
          s.game_id AS gameId,
          b.`recom_game_id` AS recomGameId
        FROM
          busi_customer s
          LEFT JOIN busi_customer_recommend_relation b
            ON s.game_id = b.recomed_game_id
        WHERE s.game_id = #{gameId}
          AND s.account_status = 0
          AND s.cancel_status = 0
    </select>
</mapper>