<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yinhetianze.systemservice.system.mapper.busi.ClassifyBusiMapper">
  <resultMap id="BaseResultMap" type="com.yinhetianze.pojo.back.ClassifyPojo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="classify_name" jdbcType="VARCHAR" property="classifyName" />
    <result column="classify_img" jdbcType="VARCHAR" property="classifyImg" />
    <result column="sort" jdbcType="SMALLINT" property="sort" />
    <result column="is_show" jdbcType="SMALLINT" property="isShow" />
  </resultMap>
</mapper>