<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yinhetianze.systemservice.system.mapper.busi.ProtocolBsuiMapper">
  <resultMap id="BaseResultMap" type="com.yinhetianze.pojo.back.ProtocolPojo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="protocol_title" jdbcType="VARCHAR" property="protocolTitle" />
    <result column="protocol_content" jdbcType="VARCHAR" property="protocolContent" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="sort" jdbcType="SMALLINT" property="sort" />
    <result column="is_show" jdbcType="SMALLINT" property="isShow" />
    <result column="user_id" jdbcType="SMALLINT" property="userId" />
  </resultMap>

  <update id="deleteProtocol" parameterType="int">
    UPDATE busi_sys_protocol SET del_flag=1
    WHERE id IN
    <foreach item="item" collection="array" open="(" separator="," close=")">
      #{item}
    </foreach>
  </update>
</mapper>