<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yinhetianze.systemservice.system.mapper.info.SysDictionaryInfoMapper">
  <resultMap id="BaseResultMap" type="com.yinhetianze.pojo.back.SysDictionaryPojo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dic_name" jdbcType="VARCHAR" property="dicName" />
    <result column="dic_value" jdbcType="VARCHAR" property="dicValue" />
    <result column="dic_type" jdbcType="VARCHAR" property="dicType" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="dic_description" jdbcType="VARCHAR" property="dicDescription" />
    <result column="del_flag" jdbcType="SMALLINT" property="delFlag" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, dic_name, dic_value, dic_type, create_user, create_time, update_user, update_time,
    dic_description
  </sql>

  <select id="selectAll" parameterType="com.yinhetianze.pojo.back.SysDictionaryPojo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from busi_sys_dictionary
    where del_flag = 0
    <if test="dicName!=null and dicName!='' ">
     and dic_name like "%"#{dicName}"%"
    </if>
    <if test="dicType!=null and dicType!='' ">
      and dic_type like "%"#{dicType}"%"
    </if>
  </select>

  <select id="selectSysDictionaryId" parameterType="com.yinhetianze.systemservice.system.model.SysDictionaryModel" resultType="int">
    SELECT
     COUNT(id)
    FROM
      busi_sys_dictionary
    WHERE
     dic_name=#{dicName}
    AND
      del_flag=0
  </select>


</mapper>