<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yinhetianze.business.customer.mapper.busi.CustomerDrawrecordBusiMapper">

    <update id="updateForAudit" parameterType="com.yinhetianze.pojo.customer.BusiCustomerDrawrecordPojo">
        update busi_customer_drawrecord
        set
        audit_status = #{auditStatus},
        reason = #{reason},
        audit_time = now()
        where id = #{id} and audit_status = 2
    </update>
</mapper>