<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yinhetianze.business.product.mapper.ProductSalesInfoMapper">
  <resultMap id="BaseResultMap" type="com.yinhetianze.pojo.product.ProductSalesPojo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="init_sales" jdbcType="INTEGER" property="initSales" />
    <result column="increase_sales" jdbcType="INTEGER" property="increaseSales" />
  </resultMap>
</mapper>