<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yinhetianze.business.product.mapper.ProductFresherRewardBusiMapper">
  <resultMap id="BaseResultMap" type="com.yinhetianze.pojo.product.ProductFresherRewardPojo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="STATUS" jdbcType="SMALLINT" property="status" />
    <result column="prod_id" jdbcType="INTEGER" property="prodId" />
    <result column="exchange_u_price" jdbcType="DECIMAL" property="exchangeUPrice" />
    <result column="exchange_time" jdbcType="TIMESTAMP" property="exchangeTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="regeister_time" jdbcType="TIMESTAMP" property="regeisterTime" />
    <result column="game_id" jdbcType="INTEGER" property="gameId" />
    <result column="handle_status" jdbcType="SMALLINT" property="handleStatus" />
  </resultMap>

  <!--下单后更新状态-->
  <update id="updateStatus" parameterType="map">
    UPDATE busi_product_fresher_reward SET
   `STATUS`=1,prod_id=#{prodId},exchange_u_price=#{exchangeUPrice},exchange_time=#{exchangeTime} WHERE `STATUS`=0 AND handle_status=0 AND id=#{id}
  </update>

</mapper>